body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#div_private {
  min-height: 100vh;
}

#div_login {
  min-height: 100vh;
}

.full {
  min-height: 100vh;
  width: 100vw;
}